<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body class="page page_home">
    <main class="card card_wide">
        <% if (!lecturer) { %>
            <header>
                <h1>Lecturer not found.</h1>
            </header>
        <% } else { %>
            <header>
                <h1><%= lecturer.firstName %> <%= lecturer.lastName %></h1>
                <p>@<%= lecturer.username %></p>
            </header>

            <section>
                <p><strong>University:</strong> <%= lecturer.universityId %></p>
                <p><strong>Faculty:</strong> <%= lecturer.facultyId %></p>
                <p><strong>School:</strong> <%= lecturer.schoolId %></p>
            </section>
        <% } %>

        <section>
        <form action="/search" method="get">
            <button class="back_link" type="submit">Back to Search</button>
        </form>
        </section>
    </main>
</body>
</html>